---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Gaëtan Viaud</h1>
			<p class="hero__text">
				Développeur Web & Mobile Fullstack en cours de formation
			</p>
			<Boton href="#" texto="Découvrez mes projets"/>
		</div>
    <img
		class="hero__img"
		src="/img/logo.png"
		alt="Gaetan"
		width="384"
    	height="384"
	/>
	</div>
</section>
