---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Mes Compétences" />
		<p>
			Actuellement étudiant en BTS SIO, je développe mes compétences dans divers langages de programmation et technologies essentielles pour le monde informatique d'aujourd'hui. Voici un aperçu de mes compétences.
		</p>
	</div>
</section>
