---
import "./about.css";
---

<section id="about" class="about">
	<!-- Bloc 1: Image à gauche, texte à droite -->
	<div class="about__row about__row--reverse">
		<div class="about__image">
			<img src="../../../public/img/me.png" alt="Moi" />
		</div>
		<div class="about__text">
			<h1 class="about__title">Qui suis-je ? </h1>
			<p>
				Je m'appelle Gaëtan Viaud et je suis en deuxième année de BTS Services Informatiques aux Organisations (BTS SIO). Depuis que j'ai 10 ans, je suis passionné par le développement et les réseaux, ce qui m'a poussé à approfondir mes connaissances dans ces domaines. Pendant ma formation, j'ai eu la chance de faire un stage de 10 semaines, ce qui m'a permis d'acquérir une expérience concrète et de développer mes compétences techniques.
			</p>
		</div>
	</div>

	<!-- Bloc 2: Texte à gauche, image à droite -->
	<div class="about__row">
		<div class="about__text">
			<h1 class="about__title">Mon Parcour Scolaire</h1>
			<p>
				J'ai commencé mes études au Lycée Saint Marthe Chavagne à Angoulême, où j'ai obtenu un Bac Pro Métiers du Commerce et de la Vente, Option A, avec la mention Bien. Après avoir obtenu mon bac, j'ai décidé de poursuivre mes études en BTS Services Informatiques aux Organisations (BTS SIO). J'ai effectué ma première année au Lycée Elie Vinet à Barbezieux, et je suis actuellement en deuxième année de ce même BTS. Cette formation me permet d'approfondir mes compétences dans le développement et le réseau, deux domaines qui me passionnent depuis mon plus jeune âge.
			</p>
		</div>
		<div class="about__image">
			<img src="../../../public/assets/lycee.png" alt="lycee" />
		</div>
	</div>
</section>
