---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="GaetanViaud">
	<div class="terminal__skills">
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/bootstrap.svg"
				color="#7952B3"
				name="Bootstrap"
			/>
			<TerminalIcon
				src="/assets/html.svg"
				color="#E44D26"
				name="HTML"
			/>
			<TerminalIcon src="/assets/css.svg" color="#00A3FF" name="CSS" />
			<TerminalIcon
				src="/assets/react.svg"
				color="#61DAFB"
				name="React"
			/>
			<TerminalIcon
				src="/assets/javascript.svg"
				color="#FFD700"
				name="Javascript"/>
			<TerminalIcon
				src="/assets/nodejs.svg"
				color="#8CC84B"
				name="NodeJS"/>
			<TerminalIcon
				src="/assets/mysql.svg"
				color="#00758F"
				name="Mysql" />
			<TerminalIcon
				src="/assets/npm.svg"
				color="#CB3837"
				name="NPM" />
			<TerminalIcon
				src="/assets/tailwind.svg"
				color="#38B2AC"
				name="Tailwind"
			/>
			<TerminalIcon
				src="/assets/wordpress.svg"
				color="#21759B"
				name="Wordpress"
			/>
		</div>
	</div>
</Terminal>
